<h1> Add Instructions </h1>

<form method="POST" action="/instruction/add">

    <div class="form-group">
        <label>Title</label>
        <input type="text" name="title" class="form-control"/>
    </div>

    <div class="form-group">
        <label>Difficulty (out of 5)</label>
        <input type="number" name="difficulty" class="form-control" min="1" max="5"/>
    </div>

    <div class="form-group">
        <label>Instructions</label>
        <textarea name="content" class="form-control">Write your DIY instructions here!</textarea>
    </div class="form-group">

    <div class="form-group">
        <label>Materials Required</label>
        <!-- can we change the input type to something more list-oriented? 
        And then change datatype in the model to an array of strings? -->
        <input type="text" name="materials" class="form-control"/>
    </div>

    <button type="submit" class="btn btn-primary">Submit Instructions</button>

</form>