<h1> Add Review </h1>

<form method="POST" action="/review/add">

    <div class="form-group">
        <label for="">Album</label>
        <select name="album[]" multiple="multiple" class="form-control">
            <% albums.forEach(function(album) { %>
                <option value="<%= album._id %>"><%= album.title %></option>
    
            <% }) %>
        </select>
    </div>

<!-- previous code -->
<!-- <div class="form-group">
    <label>Album Name:</label>
    <input name="title" type="text" class="form-control"/>
</div> -->

<!-- <div class="form-group">
    <label>Artist:</label>
    <input name="artist" type="text" class="form-control"/>
</div> -->   <!--unsure if manual input? Not given in review schema (maybe add artist to review schema) -->

<div class="form-group">
    <label>Rating /10:</label>
    <input name="rating" type="number" class="form-control"></input>
</div>

<div class="form-group">
    <label>Content</label> 
<input name="content" type="text" class="form-control"/>
</div>

<!-- <div class="form-group">
    <label>Author of Review:</label>
    <input type="text" name="createdBy" class="form-control" />
</div> --> <!--commented out due to it breaking the website-->

<input type="hidden" name="createdBy" value="<%= currentUser._id %>" />
<br>

<button type="submit" class="btn btn-dark">
    Create Review
</button>

</form>