<div>
    <div>
        <h3><%= review.title %> by [user name goes here]</h3> 
    </div>
    
        <div>Album Name: <%= review.title %></div>
        <div>Rating: <%= review.rating %></div>
        <div>Review: <%= review.content %></div>
    
     </div>
</div>