body{
    font-family: 'Calistoga', cursive;
    margin: 20px;
    background-color: rgb(255, 240, 202);
}

nav{
    font-weight: bolder;
    color: white;
    margin: -20px;
}

nav :visited{
    color: white;
}

nav :hover, #main-logo{
    color: rgb(255, 130, 88);
}

.navbar-collapse a {
    margin: 0px 20px 0px 20px;
}

.white-text{
    color: white
}

#nav-user :hover{
    color: white;
}

#nav-user{
    color: white;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  
  .navbar .navbar-collapse {
    text-align: center;
  }

  a{
    color: rgb(38, 38, 38);
    text-decoration: none;
  }
  a:hover{
    color: rgb(255, 130, 88);
  }

  .add-btn{
    border: 2px solid darkgray;
    margin: 2px;
  }

  .album-icon{
    max-width: 150px;
    outline: 1px solid rgb(38, 38, 38);
    border: 1px solid rgb(38, 38, 38);
    border-radius: 5px;
    /* max-height: 150px; */
  }

  .album-large{
    max-width: 300px;
  }

  .review-rating{
    font-size: 80px;
  }
 