<h1 class="large-heading text-center"> Add Review </h1>

<form method="POST" action="/review/add" class="auth-form med-text small-shadow" style="margin-top: 30px;">

    <div class="form-group">
        <label for="rating">Rating /10:</label>
        <input name="rating" type="number" class="form-control" min="0" max="10" step="1" required="true"
            aria-invalid="true"></input>
    </div>

    <div class="form-group">
        <label for="content">Review content:</label>
        <textarea name="content" type="text" required="true" minlength="50" class="form-control" style="height: 50vh;"
            aria-invalid="true">Write your review here!</textarea>
    </div>

    <input type="hidden" name="album[]" value="<%= Album._id %>" aria-hidden="true" />

    <input type="hidden" name="createdBy" value="<%= currentUser._id %>" aria-hidden="true" />
    <br>

    <button type="submit" class="btn btn-dark">
        Create Review
    </button>

</form>