<h1 class="large-heading text-center"> Add Review </h1>

<form method="POST" action="/review/add" class="auth-form med-text small-shadow" style="margin-top: 30px;">

    <div class="form-group">
        <label for="rating-input">Rating /10:</label>
        <input id="rating-input" name="rating" type="number" class="form-control" min="0" max="10" step="1" required="true"
            aria-invalid="true"></input>
    </div>

    <div class="form-group">
        <label for="content-input">Review content:</label>
        <textarea id="content-input" name="content" type="text" required="true" minlength="50" maxlength="10000" class="form-control" style="height: 50vh;"
            aria-invalid="true" placeholder="Add your review here (minumum length: 50 characters)."></textarea>
    </div>

    <input type="hidden" name="album[]" value="<%= Album._id %>" aria-hidden="true" />

    <input type="hidden" name="createdBy" value="<%= currentUser._id %>" aria-hidden="true" />
    <br>

    <button type="submit" class="btn btn-dark">
        Create Review
    </button>

    <a class="float-right button-padding smaller-text" href="/album/detail?id=<%= Album._id%>" >Go Back to Album</a>


</form>