<h1 class="large-heading text-center"> Add Album </h1>

<form method="POST" action="/album/add" enctype="multipart/form-data"
    class="auth-form med-text small-shadow remove-empty-inputs" style="margin-top: 30px;">

    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" required="true" class="form-control" />
    </div>

    <div class="form-group">
        <label for="artist">Artist</label>
        <input type="text" name="artist" required="true" class="form-control" />
    </div>
    <div class="form-group">
        <label for="image">Album Cover </label>
        <input 
            type="file" 
            name="image" 
            accept="image/png, image/gif, image/jpeg, image/jpg" 
            required="true" 
            aria-invalid="true"
            class="form-control mobile-small-text" 
        >
    </div>

    <div class="form-group">
        <label for="year">Year</label>
        <input type="number" name="year" min="1900" required="true" class="form-control" id="album-year-input" aria-invalid="true"/>
    </div>

    <div class="form-group">
        <div id="track-parent">
            <label for="trackList">Track List</label>
            <input type="text" name="trackList" class="form-control" id="track1" />
        </div>
        <button type="button" id="add-field" class="btn btn-light add-btn" aria-label="add new track input field to form">+</button>
    </div class="form-group">
    <br>

    <div class="form-group">

        <div class="form-group">
            <div id="genre-parent">
                <label for="genre">Genre</label>
                <input type="text" name="genre" class="form-control" id="genre1" />
            </div>
            <button type="button" id="add-genre" class="btn btn-light add-btn" aria-label="add new genre input field to form">+</button>
        </div>
        <br>
        <input type="hidden" name="createdBy" value="<%= currentUser._id %>" aria-hidden="true"/>
        <input type="submit" class="btn btn-dark" name="Submit Album"></input>

</form>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="/js/album.js"></script>