<h1 class="large-heading text-center"> Add Album </h1>

<form method="POST" action="/album/add" enctype="multipart/form-data"
    class="auth-form med-text small-shadow remove-empty-inputs" style="margin-top: 30px;">

    <div class="form-group">
        <label for="title-input">Title</label>
        <input id="title-input" type="text" name="title" required="true" class="form-control" placeholder=" " />
    </div>

    <div class="form-group">
        <label for="artist-input">Artist</label>
        <input id="artist-input" type="text" name="artist" required="true" class="form-control" placeholder=" " />
    </div>
    <div class="form-group">
        <label for="image-input">Album Cover </label>
        <input
            id="image-input" 
            type="file" 
            name="image" 
            accept="image/png, image/gif, image/jpeg, image/jpg" 
            required="true" 
            aria-invalid="true"
            class="form-control mobile-small-text plain-border" 
        >
    </div>

    <div class="form-group">
        <label for="year-input">Year</label>
        <input id="year-input" type="number" name="year" min="1900" required="true" class="form-control disable-spin" id="album-year-input" aria-invalid="true" placeholder=" "/>
    </div>

    <div class="form-group">
        <div id="track-parent">
            <label id="trackList-input">Track List</label>
            <input type="text" name="trackList" class="form-control" id="track1" placeholder=" " aria-labelledby="trackList-input" />
        </div>
        <button type="button" id="add-field" name="addTrack" class="btn btn-light add-btn" aria-label="add new track input field to form">+</button>
    </div class="form-group">
    <br>

    <div class="form-group">

        <div class="form-group">
            <div id="genre-parent">
                <label id="genre-input">Genre</label>
                <input type="text" name="genre" class="form-control" id="genre1" placeholder=" " aria-labelledby="genre-input" />
            </div>
            <button type="button" id="add-genre" name="addGenre" class="btn btn-light add-btn" 
                aria-label="add new genre input field to form">+</button>
        </div>
        <br>
        <input type="hidden" name="createdBy" value="<%= currentUser._id %>" aria-hidden="true"/>
        <input type="submit" class="btn btn-dark" name="Submit Album"></input>

        <a class="float-right button-padding smaller-text" href="/album/index" >Back to Albums</a>

</form>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous">
</script>
<script src="/js/album.js"></script>