<h1 class="large-heading text-center">About <span class="italic">Album Review App</span></h1>
<br>
<section class="text-center about-container">
    <h5 class="small-shadow">'Album Review App' is a site where - as the name might suggest - users
        can add and then review music albums.
    </h5>
    <br>
    <p> This site was built as part of a paired project with <a href="https://github.com/milosjocic1">Milos Jocic (on GitHub: milosjocic1)</a>
            over the course of a week, for our second project as part of GA London's Software Engineering Immersive course. 
            It is a full-stack web app, using an <span class="italic">Express.js</span> framework, <span class="italic">Node.js</span> platform and an 
            Atlas-hosted <span class="italic">MongoDB</span> NoSQL database. 
            The deployed project was presented to the GA Instructional Team and our fellow SEI cohort on 26/08/22.
    </p>
    <br>
    <div class="about-image">
        <img src="https://github.com/hphilpotts/Album-Review-App-Project-2-General-Assembly-SEI-66/blob/rehost/public/readme_img/project2_main.png?raw=true" 
            alt="A screenshot of the first version of 'Album Review App'" 
            srcset=""
            style="max-width: 100%;">
            <br><br>
        <p class="italic text-muted smaller-text">The Album Index page of the first version of 'Album Review App'</p>
    </div>
    <br>
    <p> Initially hosted via <span class="italic">Heroku</span>, I then redeployed the app via <span class="italic">Vercel</span>
            in November 2022 following the closure of Heroku's free tier. This later deployment stopped running at some stage in spring 2023.
    </p>
    <p> This version of the site is a re-written and rehosted version of the original project. Built on top of the exisiting source code, 
            the 'spirit' of the original site is retained, however the code has been refactored / reformatted / re-written, with known bugs 
            removed and some previously planned missing features implemented.
    </p>
    <p>
        Guest login credentials: test@test.com, test01
    </p>
    <p>
        GitHub repository link in footer below.
    </p>
</section>