<% if(message) { %>
    <div class="alert alert-danger" role="alert">
        <%= message %>
    </div>
<% } %>

<h1 class="large-heading text-center">Register your account:</h1>
<form method="POST" action="/auth/signup" class="auth-form">
    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username" required="true" aria-required="true"
            minlength="5" maxlength="20" aria-invalid="true" />
    </div>
    <div class="form-group">
        <label for="emailAddress">Email Address</label>
        <input class="form-control" type="email" name="emailAddress" required="true" aria-required="true" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" required="true" aria-required="true"
            minlength="6" aria-invalid="true" />
    </div>
    <br>
    <div>
        <button type="submit" class="btn btn-dark">Sign Up</button>
    </div>
    <br>
    <br>
    <div class="not-registered-link med-text small-shadow">
        <a href="/auth/landing" title="Sign in page">Already registered? Click here to sign in!</a>
    </div>
</form>